.slider{
    width: 1440px;
    height:700px;
    overflow: hidden;
    background: #111827;
}
.slides{
    width: 500%;
    height:700px;
    display: flex;
}
.slides input{
    display:none;
}
.slide{
    width: 1440px;
    transition:3s;

}
.slide img{
    width: 1440px;
    height:700px
}
.navigation-manual{
    position: absolute;
    width: 1440px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #666464;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
} 
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #666464;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}   
#radio5:checked ~ .first{
    margin-left: -80%;
}   
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1440px;
    justify-content: center;
    margin-top: 660px;
}
.navigation-auto div{
    border: 2px solid #666464;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #666464;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #666464;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #666464;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #666464;
}   
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #666464;
}   